<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>

                <div class="container">
                    <h3>Work</h3>
                    <hr>
                    <% if (works.length> 0) { %>
                        <div class="row">
                            <% for (let work of works) { %>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="work-image-container">
                                        <img src="<%= work.imageUrl %>" alt="<%= work.title %>" class="work-image">
                                        <div class="work-overlay">
                                            <div class="m-auto">
                                                <h2>
                                                    <%= work.title %>
                                                </h2>
                                                <p>
                                                    <%= work.description %>
                                                </p>
                                                <p>
                                                    $ <%= work.price%>
                                                </p>
                                                <p>
                                                    <%= work.links %>
                                                </p>
                                                <div class="row">
                                                    <div class="col"> <a href="/works/<%= work.id %>"
                                                            class="btn details-btn">Details</a></div>
                                                    <div class="col">
                                                        <%- include('../includes/add-to-cart.ejs', {work: work}) %>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <% } %>
                        </div>
                        <% } else { %>
                            <h1>No Products Found!</h1>
                            <% } %>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>